@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">WordsToNumbers</a>
            <a href="https://github.com/ladenedge/WordsToNumbers" class="ml-md-auto">Github Repository</a>
        </nav>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
